<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Area create</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<table width="100%" class="body"><tr><td align="center">

    <table class="table">
        <caption>AREA CREATE</caption>
        <thead>
        <tr>
            <th width="72"><form method="get"><button type="submit" formaction="/area">< Back</button></form></th>
            <th colspan="2">{{#message}}{{{message}}}{{/message}}</th>
            <th width="72"><form method="get"><button type="submit" formaction="/area-create">Reset</button></form></th>
        </tr>
        </thead>
        <form method="post">
            <tr>
                <td colspan="2"><label>Area ID:</label></td>
                <td><input type="number" min="1" max="99" name="areaId" required/></td>
                <td></td>
            </tr><tr>
            <td colspan="2"><label>Area name:</label></td>
            <td><input type="text" maxlength="16" name="areaName" required/></td>
            <td></td>
            </tr><tr>
                <td colspan="2"><label>Area Type:</label></td>
                <td><select name="areaTypeId" required>
                    <option></option>
                    {{#areaTypes}}
                        <option value="{{areaTypeId}}">{{areaTypeId}}. {{areaTypeDesc}}</option>
                    {{/areaTypes}}
                </select></td>
                <td></td>
            </tr><tr>
                <td colspan="2"><label>Module:</label></td>
                <td><select name="modulId" required>
                    <option></option>
                    {{#modules}}
                        <option value="{{modulId}}">{{modulId}}. {{modulDesc}}</option>
                    {{/modules}}
                </select></td>
                <td></td>
            </tr><tr>
                <td colspan="4"><button type="submit">Add</button></td>
            </tr>
        </form>
    </table>

</td></tr></table>
</body>
</html>