<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>AREA TYPES</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<table width="100%" class="body"><tr><td align="center">

<table class="table">
    <caption>AREA TYPES</caption>
    <thead>
    <tr>
        <th><form method="get"><button type="submit" formaction="/">< Back</button></form></th>
        <th colspan="2">{{#message}}{{{message}}}{{/message}}</th>
        <th><form method="get"><button type="submit" formaction="/areaType">Refresh</button></form></th>
    </tr>
    <tr><th width="72" align="left">ID</th><th colspan="3" align="left">Description</th></tr>
    </thead>

{{#areaTypes}}
    <tr>
        <td>{{areaTypeId}}</td>
        <td>{{areaTypeDesc}}</td>
        <td width="72"><form method="get">
            <input type="number" value="{{areaTypeId}}" name="areaTypeId" hidden/>
            <button type="submit" formaction="/areaType-edit">Edit</button>
        </form></td>
        <td width="72"><form method="post">
            <input type="number" value="{{areaTypeId}}" name="areaTypeId" hidden/>
            <button type="submit" formaction="/areaType-delete" onclick="return confirm('Are you sure?');">Delete</button>
        </form></td>
    </tr>
{{/areaTypes}}
{{^areaTypes}}
    <tr><td colspan="4">No area types added yet.</td></tr>
{{/areaTypes}}
<tfoot><tr><th colspan="4"><form method="get"><button type="submit" formaction="/areaType-create">Add +</button></form></th></tr></tfoot>
</table>

</td></tr></table>
</body>
</html>
