<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BUILDINGS INFO</title>
</head>
<body>
<div><a href="/">Return back</a></div>
{{#message}}{{{message}}}{{/message}}
<div><H2>BUILDINGS</H2></div>
<table width="500">
    <tr><td width="100"><B>ID</B></td><td><B>Description</B></td></tr>
    {{#buildings}}
        <tr><td>{{buildId}}</td><td>{{buildName}}</td><td><form method="post"><button type="submit" formaction="/building-delete?buildId={{buildId}}">Delete</button></form></td></tr>
    {{/buildings}}
    {{^buildings}}
        <tr><td colspan="3"><h3>No buildings added yet.</h3></td></tr>
    {{/buildings}}
</table>

<div>
    <a href="/building-create">Add the building...</a>
</div>
</body>
</html>
