<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BUILDINGS INFO</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div><a href="/">Return back</a></div>

<table width="720" class="t">
    <thead>
    <tr>
        <td colspan="4">{{#message}}{{{message}}}{{/message}}</td>
    </tr>
    <tr>
        <th colspan="4">BUILDINGS</th>
    </tr>
    </thead>
    <tr><td width="100"><B>ID</B></td><td colspan="3"><B>Description</B></td></tr>
    {{#buildings}}
        <tr>
            <td width="50">{{buildId}}</td>
            <td>{{buildName}}</td>
            <td width="80"><form method="post">
                <input type="number" value="{{buildId}}" name="buildId" hidden/>
                <button type="submit" formaction="/building-edit">Edit</button>
            </form></td>
            <td width="80"><form method="post">
                <input type="number" value="{{buildId}}" name="buildId" hidden/>
                <button type="submit" formaction="/building-delete">Delete</button>
            </form></td>
        </tr>
    {{/buildings}}
    {{^buildings}}
        <tr><td colspan="4">No buildings added yet.</td></tr>
    {{/buildings}}
</table>

<div>
    <a href="/building-create">Add the building</a>
</div>
</body>
</html>
