<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BUILDINGS EDIT</title>
</head>
<body>
<div><a href="/">Main menu</a></div>
{{#message}}{{{message}}}{{/message}}
<div><H2>BUILDING EDIT</H2></div>
<div><h4>Edit the building:</h4>
    <form method="post">
        <table width="720"><tr><td>
            <label>Building ID:</label>
            <input type="number" name="buildId" value="{{#building}}{{buildId}}{{/building}}" hidden required/>
            <input type="number" value="{{#building}}{{buildId}}{{/building}}" disabled required/>
            <label>Building Name:</label>
            <input type="text" maxlength="16" name="buildName" value="{{#building}}{{buildName}}{{/building}}" required/>
        </td></tr></table>
        <button type="submit" formaction="/building-edit">Edit</button>
    </form>
</div>
</body>
</html>