<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BUILDINGS CREATE</title>
</head>
<body>
<div><a href="/">Return back</a></div>
{{#message}}{{{message}}}{{/message}}
<div><H2>BUILDING CREATE</H2></div>
<div><h4>Add the building:</h4>
    <form method="post">
        <table width="800"><tr><td>
            <label>Building ID:</label>
            <input type="number" min="1" max="99" name="buildId" required/>
            <label>Building Name:</label>
            <input type="text" maxlength="16" name="buildName" required/>
        </td></tr></table>
        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>