<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Location create</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<table width="100%" class="body"><tr><td align="center">

    <table class="table">
        <caption>LOCATION CREATE</caption>
        <thead>
        <tr>
            <th width="72"><form method="get"><button type="submit" formaction="/location">< Back</button></form></th>
            <th colspan="2">{{#message}}{{{message}}}{{/message}}</th>
            <th width="72"><form method="get"><button type="submit" formaction="/location-create">Reset</button></form></th>
        </tr>
        </thead>
        <form method="post">
            <tr>
                <td colspan="2"><label>Area ID:</label></td>
                <td><select name="areaId" required>
                    <option></option>
                    {{#areas}}
                        <option value="{{areaId}}">{{areaId}}. {{areaName}}</option>
                    {{/areas}}
                </select></td>
                <td></td>
            </tr>

            <tr>
                <td colspan="2"><label>Row:</label></td>
                <td><input type="number" min="1" max="999" name="locatRow" required/></td>
                <td></td>
            </tr>

            <tr>
                <td colspan="2"><label>Place:</label></td>
                <td><input type="number" min="1" max="999" name="locatPlace" required/></td>
                <td></td>
            </tr>

            <tr>
                <td colspan="2"><label>Level</label></td>
                <td><input type="number" min="1" max="99" name="locatLevel" required/></td>
                <td></td>
            </tr>

            <tr>
                <td colspan="2"><label>Capacity:</label></td>
                <td><input type="number" min="1" max="99" name="locatCapacity" required/></td>
                <td></td>
            </tr>

            <tr>
                <td colspan="2"><label>Status:</label></td>
                <td><input type="number" min="1" max="99" name="locatStatus" required/></td>
                <td></td>
            </tr>

            <tr>
                <td colspan="2"><label>Type</label></td>
                <td><input type="number" min="1" max="999" name="locatTypeId" required/></td>
                <td></td>
            </tr>

            <tr>
            <td colspan="4"><button type="submit">Save</button></td>
        </tr>
        </form>
    </table>

</td></tr></table>
</body>
</html>