<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<table width="100%" class="body"><tr><td align="center">
<table class="table">
    <caption>Choose your destiny:</caption>
    <thead>
    <tr>
        <th width="72"><form method="get"><button type="submit" formaction="/">Refresh</button></form></th>
        <th>{{#message}}{{{message}}}{{/message}}</th>
    </tr>
    </thead>
    <tr>
        <td colspan="2"><form method="get"><button class="menubut" type="submit" formaction="/building">Buildings</button></form></td>
    </tr><tr>
        <td colspan="2"><form method="get"><button class="menubut" type="submit" formaction="/module">Modules</button></form></td>
    </tr><tr>
        <td colspan="2"><form method="get"><button class="menubut" type="submit" formaction="/areaType">Area types</button></form></td>
    </tr><tr>
        <td colspan="2"><form method="get"><button class="menubut" type="submit" formaction="/">...something else</button></form></td>
    </tr>
</table>

</td></tr></table>
</body>
</html>