<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello {{name}}</title>
</head>
<body>
<div>{{something}}</div>
<div><h3><a href="/building">Buildings info</a> </h3></div>
<div><h3><a href="/module">Moduless info</a> </h3></div>
<div><h3><a href="/areaType">Area types info</a> </h3></div>
</body>
</html>