<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello {{name}}</title>
</head>
<body>
<div>{{something}}</div>
<div>The project will be continued...</div>
<div><h3><a href="building"> Buildings info </a> </h3></div>
</body>
</html>