<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Module edit</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<table width="100%" class="body"><tr><td align="center">

    <table class="table">
        <caption>MODULE EDIT</caption>
        <thead>
        <tr>
            <th width="72"><form method="get"><button type="submit" formaction="/module">< Back</button></form></th>
            <th colspan="2">{{#message}}{{{message}}}{{/message}}</th>
            <th width="72"><form method="get">
                <input type="number" name="modulId" value="{{#module}}{{modulId}}{{/module}}" hidden/>
                <input type="text" name="buildName" value="{{buildName}}" hidden/>
                <button type="submit" formaction="/module-edit">Reset</button>
            </form></th>
        </tr>
        </thead>
        <form method="post">
            <tr>
                <td colspan="2"><label>Module ID:</label></td>
                <td><input type="number" name="modulId" value="{{#module}}{{modulId}}{{/module}}" hidden required/>
                    <input type="number" value="{{#module}}{{modulId}}{{/module}}" disabled required/></td>
                <td></td>
            </tr><tr>
                <td colspan="2"><label>Module description:</label></td>
                <td><input type="text" maxlength="16" name="modulDesc" value="{{#module}}{{modulDesc}}{{/module}}" required/></td>
                <td></td>
            </tr><tr>
            <td colspan="2"><label>Building ID:</label></td>
            <td><select name="buildId">
                <option value="{{#module}}{{buildId}}{{/module}}" selected>{{#module}}{{buildId}}{{/module}}. {{buildName}} (current)</option>
                {{#buildings}}
                    <option value="{{buildId}}">{{buildId}}. {{buildName}}</option>
                {{/buildings}}
            </select></td>
            <td></td>
        </tr><tr>
                <td colspan="4"><button type="submit" formaction="/module-edit">Save</button></td>
            </tr>
        </form>
    </table>

</td></tr></table>
</body>
</html>