<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MODULES INFO</title>
</head>
<body>
<div><a href="/">Return back</a></div>
<div><H2>MODULES</H2></div>
<table width="500">
    <tr><td width="100"><B>ID</B></td><td><B>Description</B></td><td width="100"><B>Building ID</B></td></tr>
    {{#modules}}
        <tr><td>{{modulId}}</td><td>{{modulDesc}}</td><td>{{buildId}}</td></tr>
    {{/modules}}
    {{^modules}}
        <tr><td colspan="3"><h3>No modules added yet.</h3></td></tr>
    {{/modules}}
</table>

<div><h4>Add or update the building:</h4>
    <form method="post">
        <table width="800"><tr><td>
            <label>Module ID:</label>
            <input type="number" min="1" max="99" name="modulId" required/>
            <label>Module description:</label>
            <input type="text" maxlength="16" name="modulDesc" required/>
            <label>Parent building ID:</label>
            <input type="number" min="1" max="99" name="buildId" required/>
        </td></tr></table>
        <button type="submit">Add/Update</button>
    </form>
</div>
</body>
</html>
